[ req ]
default_bits        = 2048
default_md          = sha256
prompt              = no
string_mask         = utf8only
encrypt_key         = no
distinguished_name  = dn
req_extensions      = req_ext

[ dn ]
C  = RU
ST = Moscow
L  = Moscow
O  = Optima
OU = IT
CN = monitoring.optima.inside

[ req_ext ]
subjectAltName = @alt_names
keyUsage = critical, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth
subjectKeyIdentifier = hash

[ alt_names ]
DNS.1 = monitoring.optima.inside
DNS.2 = monitoring