### Example override if ZBX_TLS* envs are ignored by image tag
### Mount this file to /etc/zabbix/zabbix_server.conf

### DB (uncomment and set if not using envs)
# DBHost=127.0.0.1
# DBPort=5432
# DBName=zabbix
# DBUser=zabbix
# DBPassword=ChangeMe

### TLS
TLSCAFile=/etc/zabbix/tls/agents-ca.crt.pem
#TLSCRLFile=/etc/zabbix/tls/agents-ca.crl.pem
TLSCertFile=/etc/zabbix/tls/server.crt.pem
TLSKeyFile=/etc/zabbix/tls/server.key.pem
